body {
     background-image: url('https://i.pinimg.com/564x/14/c9/8b/14c98bbdeac3bc7954d8943a6e03392c.jpg');
  background-repeat: repeat;
    color: #0af; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}


p {
     font-size: 1.5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px #00f;
    text-align:center;
}
.links{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #566582; 
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #0af; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(20, 100, 150, 0.5);
      position: relative;
    z-index: 1;
}
a {
    display: block;
    background-color: #566582; 
    color: #fff; 
    font-size: 1.2em; 
    padding: 10px 20px; 
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #34495e;
}

  footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #34495e;
        padding: 10px 0;
        text-align: center;
    }

   
      footer a {
        display: inline-block;
        background-color: #566582;
        color: #fff;
        font-size: 1.2em;
        padding: 5px 10px;
        margin: 0 10px;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    footer a:hover {
        background-color: #34495e;
    }
