<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/createPlaylistStyle.css}">
</head>
<body>
<nav>
    <div th:if="${userRole == 'admin'}">
        <a href="adminHome">Admin Home</a>
        <a href="addSong">Add Songs</a>
        <a href="viewSongs">View Songs</a>
        <a href="viewPlaylists">View Playlists</a>
        <a href="logout">Logout</a>
    </div>
    <div th:if="${userRole == 'customer'}">
        <a href="viewPlaylists">View Playlist</a>
        <a href="customerHome">Customer Home</a>
        <a href="logout">Logout</a>
    </div>
    
</nav>
    <main>
<h3>Create Playlists</h3>
	<form action="addPlaylist" method="POST">
		<label>Playlist name:</label>
		<input type="text" name="name" />
		<br/>
		
		<div th:each="song:${songs}">
			<input type="checkbox" th:name="songs" th:value="${song.id}">
			<label th:text="${song.name}"></label>
		</div>
		<input type="submit" value="Add Playlist" />
	</form>
	</main>
</body>
</html>