<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/displaySongs.css}">

<title>Display Songs</title>
<style type="text/css">
iframe {
	height: 50px;
	width: 300px;
}
</style>
</head>
<body>
<nav>
        <a href="adminHome">Admin Home</a>
        <a href="addSong">Add Songs</a>
        <a href="createPlaylist">Create Playlist</a>
        <a href="viewPlaylists">View Playlists</a>
        <a href="logout">Logout</a>
    </nav>
    <main>
    <h3>Songs</h3>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td > 
					<audio controls>
						<source th:src="${song.link}" type="audio/mpeg">
					</audio>
				</td>
			</tr>

		</tbody>
	</table>
	</main>
</body>
</html>