<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dispay Playlists</title>
<link rel="stylesheet" th:href="@{/css/displayPlaylistsStyle.css}">
</head>
<body>
<nav>
  <div th:if="${userRole == 'admin'}">
        <a href="adminHome">Admin Home</a>
        <a href="addSong">Add Songs</a>
        <a href="viewSongs">View Songs</a>
        <a href="createPlaylist">Create Playlist</a>
        <a href="logout">Logout</a>
        </div>
        <div th:if="${userRole == 'customer'}">
        <a href="createPlaylist">Create Playlist</a>
        <a href="customerHome">Customer Home</a>
        <a href="logout">Logout</a>
    </div>
</nav>
    <main>
    <h3>Playlists</h3>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${playlistList}">

				<td th:text="${playlist.name}"></td>
				<td >
				<ul>
				<li th:each="song:${playlist.songs}" >
				<span th:text="${song.name}"></span>
				<audio controls>
				<source th:src="${song.link}" type="audio/mpeg">
				</audio>
				
				</ul>
				</td>
			</tr>
		</tbody>
	</table>
	</main>
</body>
</html>