<!DOCTYPE html>
	<html>
		<head>
			<meta charset="ISO-8859-1">
			<title>TuneHub Home</title>
			<link rel="stylesheet" th:href="@{/css/indexStyle.css}">
		</head>
		<body>
			<body>
            <div class="home">
            <div class="home-heading">
			    <p>TuneHub</p>
             </div>
            <div class="home-nav">
                <a href="registration"> <input type="button" value="Register" class="button"></a>
                <a href="login"> <input type="button" value="Login" class="button"></a>
            </div>
        </div>
        </body>
	</html>