<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
</head>
<body>
<script th:if="${loginError}">
	 alert("Incorrect username or password!");
		
	</script>
	<h2>User Login</h2>
	<div class="login-page">
	
	<form action="validate" method="POST" >
		<label>Email: </label>
			<input type="email" name="email" required />
			<br/>
			<label>Password: </label>
			<input type="password" name="password" required />
			<br/>
			<input type="submit" value="LOGIN">
	</form>
	
	</div>      
</body>
</html>