<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/newSongStyle.css}">

<title>Add Songs</title>
</head>
<body>
<nav>
        <a href="adminHome">Admin Home</a>
        <a href="viewSongs">View All Songs</a>
        <a href="createPlaylist">Create Playlist</a>
        <a href="viewPlaylists">View Playlists</a>
        <a href="logout">Logout</a>
    </nav>
    <main>
<h3>Add Song</h3>
<form action="addSong" method="POST">

<label>Song name: </label>
<input type="text" name="name"/>
<br/>

<label>Artist: </label>
<input type="text" name="artist"/>
<br/>

<label>Genre: </label>
<input type="text" name="genre"/>
<br/>

<label>Link: </label>
<input type="text" name="link"/>
<br/>

<input type="submit" value="Add Song"/>
</form>
</main>
</body>
</html>