<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Register</title>
	</head>
	<body>
		<!--Note: All the name attribute in the input tag should be the
		same as the variables in entity class-->
		<form action="register" method="POST">
			<label>User Name: </label>
			<input type="text" name="username" required />
			<br/>
			<label>Email: </label>
			<input type="email" name="email" required />
			<br/>
			<label>Password: </label>
			<input type="password" name="password" required />
			<br/>
			<label>Gender: </label>
			<input type="radio" name="gender" value="male" />Male
			<input type="radio" name="gender" value="female" />Female
			<input type="radio" name="gender" value="others" />Others
			<br/>
			<label>Role: </label>
			<input type="radio" name="role" value="admin" />Admin
			<input type="radio" name="role" value="customer" />Customer
			<br/>
			<label>Address</label>
			<textarea name="address"></textarea>
			<br/>
			<input type="submit"/>
		</form>
	</body>
</html>